[submodule "pushed/libft"]
	path = pushed/libft
	url = https://github.com/SkyDogzz/libft.git
[submodule "pushed/get_next_line"]
	path = pushed/get_next_line
	url = https://github.com/SkyDogzz/get_next_line.git
